{% extends "base.html" %}
<!--Content-->
{% block content %}
<div class="container mt-4">
  <h3 class="text-center text-muted">Musicians Directory</h3>
  <table class="table mt-4 table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Musician Name</th>
        <th>Email</th>
        <th>Album Rating</th>
        <th>Instrument Type</th>
        <th>Album Name</th>
        <th>Release Date</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for album in albums %}
      <tr>
        <td>{{ album.id }}</td>
        <td><a href="{% url "edit_musician" album.musician.id %}">{{ album.musician.first_name }} {{ album.musician.last_name }}</a></td>
        <td>{{ album.musician.email }}</td>
        <td>{{ album.rating }}</td>
        <td>{{ album.musician.instrument_type }}</td>
        <td>{{ album.album_name }}</td>
        <td>{{ album.release_date }}</td>
        <td>
          <a href="{% url "edit_album" album.id  %}" class="btn btn-primary btn-sm">Edit</a>
          <a href="{% url "delete_album" album.id  %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock content %}
